<h1>Edit status</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer Name</th>
      <th>Booked at</th>
      <th>Service</th>
      <th>Appointment</th>
      <th>Slots</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th><%= @booking.id %></th>
        <td><%= @booking.receipt.first_name %> <%= @booking.receipt.last_name%></td>
        <td><%= @booking.created_at %></td>
        <td><%= @booking.service_name %></td>
        <td><%= @booking.service_appointment %></td>
        <td><%= @booking.slots %></td>
      </tr>
  </tbody>
</table>

<%= form_with model: @booking, url: admin_booking_path(@booking),
    class: 'd-flex flex-column gap-2' do |f| %>
    <%= render 'shared/error_messages', object: @booking %>
  <div class="form-group">
    <%= f.label :booking_status_id %>
    <%= f.select :booking_status_id, @booking_status_options,
        {}, class: 'form-select' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
