<div id="<%= dom_id service %>">
  <p>
    <strong>Business:</strong>
    <%= service.business_id %>
  </p>

  <p>
    <strong>Service category:</strong>
    <%= service.service_category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= service.unit_price %>
  </p>

</div>
