<%= form_with(model: business, url: url, class: 'd-flex flex-column gap-2') do |form| %>
  <%= render 'shared/error_messages', object: business %>
  <p class="h2">Business details</p>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :timezone %>
    <%= form.time_zone_select :timezone, nil, {}, class: 'form-select' %>
    <i>The timezone will be used when displaying and saving service appointments.</i>
  </div>
  <p class="h2">Address</p>
  <%= form.fields_for :address do |address_form| %>
    <div class="form-group">
      <%= address_form.label :line_one, 'Line 1' %>
      <%= address_form.text_field :line_one, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= address_form.label :line_two, 'Line 2' %>
      <%= address_form.text_field :line_two, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= address_form.label :country %>
      <%= address_form.country_select :country, {}, class: 'form-select' %>
    </div>
    <div class="form-group">
      <%= address_form.label :province, 'State/Region/Province' %>
      <%= address_form.select :province, [], {}, class: 'form-select' %>
    </div>
    <div class="form-group">
      <%= address_form.label :city %>
      <%= address_form.select :city, [], {}, class: 'form-select' %>
    </div>
    <div class="form-group">
      <%= address_form.label :postal_code %>
      <%= address_form.number_field :postal_code, class: 'form-control' %>
    </div>
  <% end %>
  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<script>
  var countrySelect = document.getElementById('business_address_attributes_country')
  var stateSelect = document.getElementById('business_address_attributes_province')
  var citySelect = document.getElementById('business_address_attributes_city')
  countrySelect.addEventListener('change', () => {
    fetch(`/locations/states?country_code=${countrySelect.value}`).then((res)=>res.json()).then((states) => {
      stateSelect.innerHTML = '<option value="" disabled>Select...</option>'
      states.forEach(state => {
      stateSelect.innerHTML += `<option value="${state.code}">${state.name}</option>`
      })
    })
  })

  stateSelect.addEventListener('change', () => {
    fetch(`/locations/cities?country_code=${countrySelect.value}&state_code=${stateSelect.value}`)
    .then((res)=>res.json()).then((cities) => {
      citySelect.innerHTML = '<option value="" disabled>Select...</option>'
      cities.forEach(city => {
      citySelect.innerHTML += `<option value="${city.name}">${city.name}</option>`
      })
    })
  })
</script>
