<h1>New business</h1>
<%= form_with(model: @business, url: admin_businesses_path, class: 'd-flex flex-column gap-2') do |form| %>
  <%= render 'shared/error_messages', object: @business %>
  <h2>Business details</h2>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :timezone %>
    <%= form.time_zone_select :timezone, nil, {}, class: 'form-select' %>
    <i>The timezone will be used when displaying and saving service appointments.</i>
  </div>
  <h2>Address</h2>
  <%= form.fields_for :address do |address_form| %>
    <div class="form-group">
      <%= address_form.label :line_one %>
      <%= address_form.text_field :line_one, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= address_form.label :line_two %>
      <%= address_form.text_field :line_two, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= address_form.label :city %>
      <%= address_form.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= address_form.label :province %>
      <%= address_form.text_field :province, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= address_form.label :country %>
      <%= address_form.text_field :country, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= address_form.label :postal_code %>
      <%= address_form.number_field :postal_code, class: 'form-control' %>
    </div>
  <% end %>
  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
