<h1><%= @business.name %></h1>
<h2>Categories (<%=  @service_categories.count %>)</h2>
<%= link_to 'New Category', new_admin_service_category_path %>
<ul class="mt-4 row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2">
  <% @service_categories.each do |sc| %>
    <li class="col">
      <%= render sc %>
    </li>
  <% end %>
</ul>
<br>
<h2>Services ()</h2>
<%= link_to 'New Service', new_admin_service_path %>
