<h1><%= @service.name %></h1>
<p>
  <%= link_to "Edit this service", edit_admin_business_service_path(@business, @service) %> |
  <%= link_to "Back to services", admin_business_services_path(@business) %>
</p>
<%= button_to "Delete service",
  admin_business_service_path(@business, @service),
  form: { 
    data: {
      turbo_confirm: "Are you sure you want to delete #{@service.name}? This will delete the record permanently."
    }
  },
  method: :delete, class: 'btn btn-danger' %>
<br>
<%= render @service %>
<br>
<h2>Appointments</h2>
<%= link_to 'New appointment', new_admin_appointment_path(service_id: @service.id) %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Timeslot</th>
      <th>Max slots</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Action(s)</th>
      <th>Danger zone</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <th><%= appointment.id %></th>
        <td><%= appointment.timeslot %></td>
        <td><%= appointment.max_slots %></td>
        <td><%= appointment.created_at %></td>
        <td><%= appointment.updated_at %></td>
        <td><%= link_to 'Edit', edit_admin_appointment_path(
          appointment,
          service_id: @service.id
        ) %></td>
        <td>
          <%= button_to "Delete",
            admin_appointment_path(appointment, service_id: @service.id),
            form: { 
              data: {
                turbo_confirm: "Are you sure you want to delete this appointment?"
              }
            },
            method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
