<h1><%= @service.name %></h1>
<%= render @service %>
<br>
<div>
  <p>
    <%= link_to "Edit this service", edit_admin_business_service_path(@business, @service) %> |
    <%= link_to "Back to services", admin_business_services_path(@business) %>
  </p>
  <%= button_to "Destroy this service",
  admin_business_service_path(@business, @service),
  form: { 
    data: {
      turbo_confirm: "Are you sure you want to delete #{@service.name}? This will delete the record permanently."
    }
  },
  method: :delete, class: 'btn btn-danger' %>
</div>
